.economic-header-div {
    background-image: url('../Images/economic3.jpeg');
    width: 100%;
    height: 700px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.economic-header-text {
    font-size: 3rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 18%;
    transition: background-color 0.3s ease-in-out;
}

.economic-header-text:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.economic-section {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.economic-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.economic-section p {
    font-size: 1.4rem;
    color: #666;
    line-height: 1.6;
}


img {
    width: 50%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.content-flex {
    display: flex;
    align-items: center;
}


.text-content {
    flex: 1;
    padding-right: 20px;
    font-size: 2rem;
}

.side-image {
    width: 30%;
    max-width: 50%;
    padding-right: 10%;
    height: auto;
    margin-left: 10%;
}

@media (max-width: 768px) {
    .content-flex {
        flex-direction: column;
    }

    .text-content {
        padding-right: 0;
    }

    .side-image {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}

.chart-container {
    margin-left: auto;
    margin-right: auto;
  }

.economic-image {
    object-fit: cover;
    width: 95%;
    height: 95%;
    border-radius: 5px;    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.economic-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grid-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}


.image-last {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-last:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
  
  