.galleries-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-container {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0; /* Light grey background color */
    border-radius: 10px; /* Adjust the border-radius as needed for a smooth corner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    width: 47%;
    height: 330px;
  }
  
  .gallery-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: flex;

    transform: scale(0.95); /* Slight scaling effect for a smoother transition */
  }

  .gallery-item:not(.active) {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Immediate transition for non-active items */
    transform: scale(0.95); /* Slight scaling effect for a smoother transition */

  }
  
  .gallery-item.active {
    opacity: 1;
    transform: scale(1); /* Restore the original scale for the active item */
  }
  .gallery-text {
    position: absolute;
    font-size: 1rem;
    left: 10%;
    width: 40%;
  }

  .gallery-link {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    left: 10%;
    width: 40%;
    bottom: 15%;
  }

   
  .gallery-image {
    position: absolute;
    right: 10%;
    width: 35%;
    height: 80%;
    top: 5%;
  }
  
  .gallery-image-img {

    height: 100%;
    width: 100%;
    object-fit: contain;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.nav-button {
  position: absolute;
  height:  100%;
  background-color: transparent; /* Button background color */
  color: rgba(0, 0, 0, 0.281); /* Button text color */
  padding: 10px 15px; /* Adjust padding as needed */
  font-size: 25px; /* Adjust font size as needed */
  border: none;
  border-radius: 5px; /* Adjust border radius for rounded corners */
  cursor: pointer;
  transition: color 0.3s ease, font-size 0.3s ease, ; /* Smooth transition for background color */
}

.nav-button.left
{
  left: 0%;
}

.nav-button.right
{
  right: 0%;
}

.nav-button:hover {
  color: black; /* Change background color on hover */
  font-size: 35px;
}
.bubble-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  width: 100%;
}
.bubble
{
  display: flex;
  background-color: gray;
  width: 10px;
  height: 10px;
  margin: 2px;
  border-radius: 100%;
  cursor: pointer;
}
.bubble.active
{
  transform: scale(1.5);
  margin: 2px 5px;
}

/* Existing CSS... */
