body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.armed-intro-section {
    background-image: url('../Images/conflict.jpg');
    width: 100%;
    height: 700px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 3rem;
    color: rgba(255,255,255,1);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 18%;
    transition: background-color 0.3s ease-in-out;
}

.section-title:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.armed-causes-section,
.armed-effects-section,
.armed-stats-section,
.armed-stories-section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Section Headers */
h1, h2 {
    color: #333;
    text-align: center;
}

/* Text Content */
p {
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Image and Visual Styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Interactive Elements Styling */
.interactive-element {
    /* Style for interactive elements like sliders, maps */
}

.section-title h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

/* Image Styling */
.section-image {
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .armed-intro-section,
    .armed-causes-section,
    .armed-effects-section,
    .armed-stats-section,
    .armed-stories-section {
        margin: 10px;
        padding: 10px;
    }
    .section-image {
        height: 200px; /* Smaller height for mobile */
    }
}
